#nav{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.3);
    color: white;
    padding: 5px;
    height: 50px;
    padding: 10px;
    align-items: center;
}
#nav a{
    text-decoration: none;
    color: white;
    margin-right: 15px;
    font-size: 25px;
    font-family: "roboto";
}

BODY{
    margin: 0px;
}
#logo{
    font-family: "bebas neue",sans-serif;
    font-size: 35px;
}
.container-logo{
   margin: 0px;
}
.container-logo img{
    padding: 5px;
}
header{
    background-image:url("../images/bgimage.jpg");
    background-size: cover; 
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.5); 
}
.container{
    padding: 20px;
    padding-left: 189px;
    padding-bottom: 90px;
}
.headingText{
    color: white;
    text-transform: uppercase;
    font-size: 60px;
    font-family:"bebas neue", sans-serif;
    font-weight: 400;
    line-height: 1.1em;
}
.subheading{
    color: whitesmoke;   
    font-size: 25px;
    width: 450px;
}
#hr{
    width: 450px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    margin-top: 45px;
}

.icondiv{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 150px 300px 100px 200px ;
    column-gap: 2px;
    text-align: center; 
}
.icon{
    padding: 35px;
    width: 300px;
    height: 250px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon p,.personaldetailsdiv p,.edu-details p,.feedback p{
   color: #666666;
   font-family: "Roboto",sans-serif;
   line-height: 1.6em;
}
.icon h3{
    color: #140748;
    margin-bottom: 1px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
    font-size: normal;
    line-height: 1.1em;
    font-family: "bebas neue",sans-serif;
}
.blue-box{
    background-color: #140748;
    height: 410px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.text h3{
    color: #FFFFFF;
    font-size: 40px;
    font-family: "bebas Neue",sans-serif;
    font-weight: 400;
}
.text p,.services p,.contact-details-div div p,.contact-details-div div h4{
    
    color: #FFFFFF;
    font-size: 22px;
    font-family: "Roboto",sans-serif;
    font-weight: 300;
}
.biodata1{
    display: flex;
    width: 100%;
    margin-bottom: 59px;
}
.personaldetailsdiv h3,.education h1,.Work-Exp h1{ 
    color: #140748;
    font-family: "Bebas Neue", Sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.1em;
}
.pdetails,.icons-template-div{
    margin:75px 0px 0px 75px;
}
.template-icon{
    display: flex;
    margin: 0px;
}
.template-icon h2{
    font-family: "Bebas Neue", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.2em;
}
.contact-div{
    font-family: "Roboto", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    width: 100px;
    margin-left: 85px;
    margin-top: 40px;
    color: #FFFFFF;
    background-color: #140748;
    padding: 15px 25px 15px 25px;
}
.education h1,.Work-Exp h1{ /* khjgj*/
    padding-left: 25%;
    margin-bottom: 50px;
}
.edu-details{
    height: 180px;
    margin-left: 240px;
    width: 430px;
    margin-bottom: 35px;
}

    .edu-details h6,.exp-role h6,.services h1,.img-div h3,.course-skill div,.contact-details-div div h1{
    color: #140748;
    font-family: "Bebas Neue", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 7px;
    }
    .edu-details h5,.exp-role h5{
    color: #2D2D2D;
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8em;
    margin: 0px;
    }
.Work-Exp {
    margin-top: 150px;
    margin-left:0px;
}
.exp-role{
    margin-left: 150px;
    width: 440px;
    margin-bottom: 70px;
}
.img-silder-div{
    display: flex;
    justify-content: center;
     margin-bottom: -75px;
    
}
.img-slide{
    padding: 15px;
    height: 290px;
    width: 295px;
}
.services{
    height: 500px;

    background-color: #FAFBFD;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 300px;
}
.services h1{
    font-size: 40px;
}
.services p,.contact-details-div div p,.contact-details-div div h4{
line-height: 1.5em;
 color: #666666;
}

.service-img-div,.course-skill{
    display: flex;   
    justify-content: center;
}
.img-div{
padding: 10px;
}
.img-div img{
height: 280px;
width: 260px;
}
.course-skill div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    text-align: center;
    width: 250px;
    padding: 5px;
    margin: 5px  19px 5px 5px;
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.img-div h3{
    padding-top: 15px;
}
.service-img-div{
    margin-bottom: 30px;
}
.feed-div{
    height: 540px;
    width: 100%;
    background-color: white;
}
.feedbacks{
    display: flex;
    justify-content: center;
    margin-top: -140px;
}
.feedback{
    height: 210px;
    width: 280px;
    background-color: #FAFBFD;
    margin: 5px;
    padding: 22px 35px 35px 35px;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);;

}
.feedback .feedback-image{
    display: flex;
    margin-top:28px;
}
.feedback-image div{
   padding-left: 15px;
   line-height: 0.1em;
}
.feedback div h6{
    color: #1E1E1E;
    font-family: "Roboto", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin:0px 0px 0px 0px;
}
.feedback div h4{
   color: #323335;
}
.query-divs{
    display: flex;
    height: 770px;
    width: 100%;
}
.contact-divs{
    background-color: white;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
.forms-div{
    background-color: blueviolet;
    width: 50%;
   

}

.contact-details-div div{
    height: 250px;
    width: 85%;
}
.contact-details-div div h1{
    font-size: 45px;
}
.contact-details-div div h3{
    color: #140748;
    font-family: "Bebas Neue", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.1em;
}
.contact-details-div div .call-us{
    line-height: 0.1em;
    margin: 0;
}
.form{
    height: 550px;
    width: 90%;
    background-color:white;
    margin-left: -95px;
    margin-top: 125px;
     box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);;
}
form input{
    width: 80%;
   margin-top: 50px;
   margin-left: 50px;
    height: 50px;
    padding-left: 20PX;
   
}
#textarea{
    height: 150px;
}
#btn{
    height: 40px;
    width: 130px;
    margin-top: 15px;
        background-color: #1f1111d7;
      color: white;
      font-weight: bold;
     
    margin-left: 49px;    

}
.footer{
    height: 500px;
    width: 100%;
        background-color: #140748;
        margin: 0px;
}
.grami{
    display: flex;
    color: white;
    justify-content: center;
    font-size: 35px;
    padding-top: 90px;
}
.app-icons{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    border-bottom:1px solid gray ;
}
.app-icons img{
    padding-left: 15px;
}

    .ltext{
    display: flex;
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 400;
   justify-content: center;
    }
    .logos{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-left: 280px;
        margin-right: 200px;
      
        
    }
    .logos img{
        height: 150px;
        width: 150px;
        margin-right: 135px;
        
    }